
#clock {    
    position: absolute;
    top: 233%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:20%;
    font-size: 15rem;
    font-family: arial;
    font-weight: bolder;  
    
    color: rgba(216, 91, 53, 0.493);
}






@media only screen and (max-width: 1024px){

#clock {
    margin-top: 26%;
    height:10px;
    font-size: 150px;
    font-family: arial;
    font-weight: bolder ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(6, 240, 6, 0);
}

}

@media only screen and (max-width: 550px){

#clock {
    margin-top: 26%;
    height:10px;
    font-size: 120px;
    font-family: arial;
    font-weight: bolder ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(6, 240, 6, 0);
}

}
@media only screen and (max-width: 400px){

#clock {
    margin-top: 26%;
    height:10px;
    font-size: 40px;
    font-family: arial;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(6, 240, 6, 0);
}

}
