#today{
  font-family:  Cambria,cursive;;
  font-size: 2.2rem;
}
.main-date{
  position: relative;
  margin-top: -37%;
  margin-left: auto;
  margin-right: auto;
}
#date1{
  margin-left: auto;
  margin-right: auto;
}