#today{
  font-family:  Cambria,cursive;;
  font-size: 2.2rem;
}
.main-date{
  position: relative;
  margin-top: -29%;
  margin-left: auto;
  margin-right: auto;
}
#date1{
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width:1300px){
  .main-date{margin-top: -44%;
  }
}