


.slide1{
    position: absolute;
    margin-top: 28%;
    
}
.carousel-control-prev
.carousel-control-next
.carousel-control-next-icon,
 .carousel-control-prev-icon,
  .carousel-indicators{
    position: absolute;
    z-index: -10;
    display:unset;
    color: rgba(245, 242, 242, 0);
    position: absolute;
    z-index: -99;
}
.carousel-control-next-icon,
 .carousel-control-prev-iconn {
      width: 0.1rem;
      height: 0.1rem;
      counter-reset: rgba(0, 0, 0, 0.021);
 }
@media only screen and (max-width:1300px){
    .slide1{
        margin-top: 23%;
    }
}