


.slide1{
    position: relative;
    margin-top: -26%;
    
}
.carousel-control-prev
.carousel-control-next
.carousel-control-next-icon,
 .carousel-control-prev-icon,
  .carousel-indicators{
    position: absolute;
    z-index: -10;
    display:unset;
    color: rgba(245, 242, 242, 0);
    position: absolute;
    z-index: -99;
}