.titleWrap {
  position: absolute;
  margin-top: -22%;
  z-index: 5;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(58, 57, 57, 0.06);
  z-index: 2; 
  /* cursor: url("./image/shipCursor.cur"),auto; */
  /* cursor: url("image/shipCursor.png"); Add a pointer on hover */
}

#title-1, #favicon{
  position: relative;
  z-index: 5;
  font-weight: 800;
  text-shadow: rgb(1, 41, 37);
  font-size: 4.2rem;
  color: rgba(245, 245, 245, 0.521);
}

.subheading {
  position:relative;
  color: whitesmoke;
  font-weight: 300;
  font-size: 1.8rem;
  text-shadow: rgb(1, 41, 37);
  text-rendering:auto;
}
@media only screen and (max-width:1300px){
   .titleWrap{ 
        margin-top: -17%;
   }
}